<%- include("partials/header") %>

<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="form-group">
    <label  style="text-align:left">Title</label>
    <input class="form-control" type="text" name="postRequest"></input>
    <label  for="">Post</label>
    <textarea class="form-control" name="postContent" rows="6" cols="80"></textarea>
  </div>

  <button type="submit" name="button" style="float: right;" class="btn btn-primary">Publish</button>
  <button action="/home" style="float: left;" class="btn btn-primary">Back</button>


 <label type="text" value="req.body.postRequest" ></label>
 </form>


<%- include("partials/footer") %>
